[submodule "CSharpToCppTranslator"]
	path = CSharpToCppTranslator
	url = https://github.com/linksplatform/CSharpToCppTranslator

[submodule "Settings"]
	path = Settings
	url = https://github.com/linksplatform/Settings
